EVENTS_DB_PATH=/home/ubuntu/wheelsafar-whatsapp-community-poc/events.db
WHATSAPP_FORWARD_MODE=service
WHATSAPP_SENDER_URL=http://127.0.0.1:3001/send
WHATSAPP_TARGET_CHAT_ID=120363424869869589@g.us
BACKEND_PORT=8000

WHATSAPP_SENDER_MODE=real
SENDER_PORT=3001
